.App {
  text-align: center;
  background-color: #F5F8FA;
}

.App-header {
  background-color: #4A90E2;
  height: 85px;
  padding: 10px;
  margin-bottom: 40px; 
  color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.App-title {
  font-size: 2em;
  text-align: left;
  padding-left: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
}

.App-title > small {
  color: inherit;
  font-size: 50%;
  vertical-align: top;
}

.App-intro {
  font-size: large;
}

body.modal-open  .App {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.modal-backdrop {
  background-color: transparent;
}

td {
  text-align: left;
}

.btn-flat {
  color: #ffffff;
  background: #4A90E2;
  border: 0;
  padding: 10px ;
  margin: 0 20px 0 0;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-flat:hover {
  background: #4A90E2;
}

.btn-flat[disabled] {
  background: #93BDEE;
  cursor: not-allowed;
}

.btn-flat[disabled]:hover {
  background: #93BDEE;
}

